.design-history {
    position: absolute;
    bottom: 0px;
    padding: 18px;
    display: flex;
}

.history-model {
    width: 40px;
    height: 40px;
    border: 1px solid #efefef;
    margin-right: 18px;
    border-radius: 4px;
    border-bottom-width: 4px;
    /*filter: drop-shadow(0 4px 1px black);*/
}

.history-model--past {
    border-color: #d6d6d6;
    background: #efefef;
}

.history-model--present {
    background: #ffffff;
    border-color: #f5871f;
    border-width: 4px;
}

.history-model--future {
    border-color: #d6d6d6;
    background: #efefef;
    opacity: 0.25;
}

.history-model :global .design-layer {
    vector-effect: non-scaling-stroke;
}