
#penumbra__root {
    display: block;
    height: 100%;
    width: 100%;
}

.penumbra__main-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}

.design-stage {
    height: 100%;
    background: linear-gradient(-90deg, rgba(0, 0, 0, .05) 1px, transparent 1px),
    linear-gradient(rgba(0, 0, 0, .05) 1px, transparent 1px),
    linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
    linear-gradient(rgba(0, 0, 0, .04) 1px, transparent 1px),
    linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
    linear-gradient(-90deg, #d6d6d6 1px, transparent 1px),
    linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
    linear-gradient(#d6d6d6 1px, transparent 1px),
    #f2f2f2;
    background-size: 8px 8px,
    8px 8px,
    80px 80px,
    80px 80px,
    80px 80px,
    80px 80px,
    80px 80px,
    80px 80px;
}

/*.design-stage:after {*/
/*    background-image:*/
/*        linear-gradient(to right, grey 1px, transparent 1px),*/
/*        linear-gradient(to bottom, grey 1px, transparent 1px);*/
/*}*/

.design-history {
    position: absolute;
    bottom: 0px;
    padding: 18px;
}

.history-model {
    width: 40px;
    height: 40px;
    border: 1px solid #efefef;
    margin-right: 18px;
}

.history-model--past {
    border-color: #8e908c;
    background: #efefef;
}

.history-model--present {
    background: #ffffff;
    border-color: #ffffff;
}

.history-model--future {
    border-color: #4d4d4c;
    background: #efefef;
    opacity: 0.25;
}

.design-toolbar {
    padding-top: 14px;
    position: absolute;
    width: 100%;

    display: flex;
    justify-content: center;
}

.design-tool-button {
    width: 50px;
    height: 50px;
    background: #efefef;
    color: #4d4d4c;
    margin: 0 8px;
    border: 1px solid #d6d6d6;
    font-weight: 700;
}

.design-tool-button--active {
    color: #ffffff;
    font-weight: 700;
}

.design-layer {
    fill: none;
    stroke: #4d4d4c;
    stroke-width: 2px;
}

.history-model .design-layer {
    stroke-width: 12px;
}

.design-layer--selected {
    stroke: #f5871f;
}


.design-tool-button--active.design-tool-button--select {
    background: #c82829;
}

.design-tool-button--active.design-tool-button--rectangle {
    background: #f5871f;
}

.design-tool-button--active.design-tool-button--ellipse {
    background: #eab700;
}

.design-tool-button--active.design-tool-button--line {
    background: #718c00;
}

.design-tool-button--active.design-tool-button--text {
    background: #3e999f;
}

.design-tool-button--active.design-tool-button--path {
    background: #4271ae;
}

.design-tool-button--active.design-tool-button--polygon {
    background: #8959a8;
}

.pointer-down-circle {
    fill: #8e908c;
    stroke: none;
}

.pointer-up-circle {
    fill: none;
    stroke: #8e908c;
}

.pointer-up-text {
    fill: #8e908c
}

.pointer-drag-line {
    fill: none;
    stroke: #8e908c;
}

.pointer-drag-path {
    fill: none;
    stroke: #8e908c;
}